<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSZpI-HMHRyZ6Y4UzshDAMUo5tJGSI448</string>
	<key>GCM_SENDER_ID</key>
	<string>694735610840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vartameetComputer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vartameet-5b58b</string>
	<key>STORAGE_BUCKET</key>
	<string>vartameet-5b58b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694735610840:ios:dcba93a83921f92c5108ad</string>
</dict>
</plist>